:root {
    /* Primary Colours */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /* Secondary Colours */
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    --hoverLilac: hsl(240, 77%, 67%);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 90%;
    font-weight: 500;
    line-height: 1.7rem;
}

body {
    min-width: 100%;
    background-image: url("./images/pattern-background-mobile.svg");
    background-repeat: repeat-x;
    background-size: 100vw;
    background-color: var(--paleBlue);
    font-family: 'Red Hat Display', sans-serif;
    color: var(--desaturatedBlue);
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("./images/pattern-background-desktop.svg");
        animation: background-slide 10s linear infinite;
    }
}

@keyframes background-slide {
    from {background-position: 0 0;}
    to {background-position: -100vw 0;}
}

.container {
    max-width: 475px; 
    margin: 0 auto; 
}

.card {
    margin: 70px auto;
    background-color: white;
    max-width: 85%;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    
}

.card-txt {
    padding: 10%;
}

.card-txt h1 {
    font-weight: 900;
    font-size: 1.75rem;
    color: var(--darkBlue);
    margin-bottom: 20px;
}

.card-pricing {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--veryPaleBlue);
    padding: 7%;
    margin: 20px 0;
    border-radius: 10px;
}

.card-pricing img {
    width: 40px;
    height: auto;
}

.card-pricing div {
    text-align: left;
    flex: 1 1 0%;
    padding-left: 7%;
}

.card-pricing h2 {
    font-weight: 900;
    font-size: 1rem;
    color: var(--darkBlue);
}

.card-pricing a {
    font-size: 0.85rem;
    font-weight: 900;
    color: var(--brightBlue);
}

.card-pricing a:hover {
    color: var(--hoverLilac)
}

.card-txt button {
    width: 100%;
    border-radius: 10px;
    border-style: none;
    padding: 5%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.btn-payment {
    background-color: var(--brightBlue);
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 20px 20px hsl(240, 77%, 67%, 30%);
}

.btn-payment:hover {
    background-color: var(--hoverLilac);
}

.btn-cancel {
    background-color: hsl(0, 100%, 100%, 0%);
    color: var(--desaturatedBlue);
}

.btn-cancel:hover {
    color: var(--darkBlue);
}

.attribution {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--hoverLilac);
}
